@using WebMvc.Domain.DomainModel.General
@{
    // Global Stuff
    var themeName = Html.Settings("Theme");
    var theme = new Theme
    {
        ThemeName = themeName,
        ThemePath = string.Concat(SiteConstants.Instance.ThemeRootFolder, themeName)
    };
    //TempData[AppConstants.GlobalClass] = Convert.ToBoolean(PageData[AppConstants.IsMobileDevice]) ? "mobile" : "desktop";
    //TempData[AppConstants.CurrentAction] = ViewContext.RouteData.GetRequiredString("action").ToLower();
    //TempData[AppConstants.CurrentController] = ViewContext.RouteData.GetRequiredString("controller").ToLower();

    string uptitle = ViewBag.Title;
    uptitle = uptitle.ToUpper();
}

<!DOCTYPE html>
<html>
<head>
    <title>KHÁCH SẠN LAM GIANG| @uptitle :: LAM GIANG HOTEL</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Blue Water Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />

    @Html.Partial("_StyleSheets", theme)
    @ViewBag.Canonical
    @Html.Partial("_JavaScript", theme)


</head>
<body>
    @RenderBody()

    @Html.Partial("_Footer", theme)
</body>
</html>