@using WebMvc.Domain.Interfaces.Services
@{
    ViewBag.Title = "Theme config";

    var _menuService = DependencyResolver.Current.GetService<IMenuService>();
    var _categoryService = DependencyResolver.Current.GetService<ICategoryService>();
}
@using (Html.BeginForm("ThemeConfig", "Setting", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="panel">
        <div class="panel-heading">
            <h5>@ViewBag.id config</h5>
        </div>
        <div class="panel-content">
            @foreach (var item in ViewBag.json)
            {
                <div class="form-group">
                    @switch ((string)item.Value.Type)
                    {
                        case "MenuID":
                            <label for="@item.Name">@item.Value.LabelName</label>
                            <select class="form-control" id="@item.Name" name="@item.Name">
                                <option value="">--No Select--</option>
                                @foreach (var it in _menuService.GetAll().ToList())
                                {
                                    <option value="@it.Id" @((it.Id.ToString() == (string)item.Value.Value) ? "selected=\"selected\"" : "")>@it.Name</option>
                                }
                            </select>
                            break;
                         case "CategoryID":
                            <label for="@item.Name">@item.Value.LabelName</label>
                            <select class="form-control" id="@item.Name" name="@item.Name">
                                <option value="">--No Select--</option>
                                @foreach (var it in _categoryService.GetAll().ToList())
                                {
                                    <option value="@it.Id" @((it.Id.ToString() == (string)item.Value.Value) ? "selected=\"selected\"" : "")>@it.Name</option>
                                }
                            </select>
                            break;
                    }



                </div>
            }

                <div class="submit-holder">
                    <button type="submit" class="btn-mvc-green btn-mvc-large">Save Config</button>
                    <a class="btn-mvc-red btn-mvc-large" href="@Url.Action("Themes", "Setting", new { area = "Admin" }, null)">Back</a>
                </div>
        </div>
    </div>
}