
<div id="top">
    <div class="container">
        <div class="banner_scroll scroll_left"></div>
        <div class="banner_scroll scroll_right"></div>
        <ul class="ul">
            <li id="view-showroom">
                <i class="bg icon_cskh1"></i><span style="display: inline-block;">
                    <a href="/huong-dan-khach-hang/lien-he-hop-tac/a391.html" rel="nofollow">
                        <!--<img class="icon-top" src="/media/lib/icon-htsr.png" />-->Hệ thống Showroom
                    </a>
                </span>
                <div id="hnc-showroom"></div>
                <script>
                    $("#view-showroom").hover(function () {
                        if ($("#hnc-showroom").html() == '') $("#hnc-showroom").load("/he-thong-showroom.html?type=ajax");
                        $("#hnc-showroom").show();
                    }, function () {
                        $("#hnc-showroom").hide();
                    });
                </script>
            </li>
            <li id="support_top">
                <span><img class="icon-top" src="@Html.ThemeUrl()/Content/images/new_icon_banhang.png" />Bán hàng trực tuyến</span>
                <div id="h_menu_sub_on1" class="h_menu_sub hOnline">
                    <div class="hOnline-order">
                        <div style="padding:5px 10px;">
                            <table width="100%">
                                <tr>
                                    <td align="center"><div class="online-title"> HỖ TRỢ TẠI HÀ NỘI/TOÀN QUỐC</div></td>
                                </tr>
                                <tr>
                                    <td valign="top" width="380">
                                        <div class="online-content">
                                            <b>Bán hàng online</b>
                                            <div class="cssLeft">
                                                <a href="#">
                                                    <img style="width: 15px;" src="@Html.ThemeUrl()/Content/images/icon-skype.jpg"> Mr Trung
                                                </a>

                                                <br>
                                            </div>
                                            <div class="cssRight"> <span class="bg icon_tel_support">&nbsp;</span>0976.155.499 <br></div>
                                            <div class="clear"></div>
                                            <div class="cssLeft">
                                                <a href="#">
                                                    <img style="width: 15px;" src="@Html.ThemeUrl()/Content/images/icon-skype.jpg"> Mr Nguyên
                                                </a>

                                                <br>
                                            </div>
                                            <div class="cssRight"> <span class="bg icon_tel_support">&nbsp;</span>0903.428.534<br></div>
                                            <div class="clear"></div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td valign="top" width="380">
                                        <div class="online-content">
                                            <b>Tư vấn kỹ thuật</b>
                                            <div class="cssLeft">
                                                <a href="#">
                                                    <img style="width: 15px;" src="@Html.ThemeUrl()/Content/images/icon-skype.jpg"> Mr Thắng
                                                </a>

                                                <br>
                                            </div>
                                            <div class="cssRight"> <span class="bg icon_tel_support">&nbsp;</span>01688.666.665<br></div>
                                            <div class="clear"></div>

                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td valign="top" width="380">
                                        <div class="online-content">
                                            <b>Tư vấn tản nhiệt nước - Modding</b>
                                            <div class="cssLeft">
                                                <a href="#">
                                                    <img style="width: 15px;" src="@Html.ThemeUrl()/Content/images/icon-skype.jpg"> Mr Tiến
                                                </a>

                                                <br>
                                            </div>
                                            <div class="cssRight"> <span class="bg icon_tel_support">&nbsp;</span>0962.536.535<br></div>
                                            <div class="clear"></div>

                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="clear"></div>
                    </div><!--hOnline-order-->
                </div><!--h_menu_sub-->
            </li>
            <li>
                <span>
                    <a href="/tin-khuyen-mai/">
                        <img class="icon-top" src="@Html.ThemeUrl()/Content/images/new_icon_km.png" />Khuyến mại
                    </a>
                </span>
            </li>
            <li id="list_hot_news_top">
                <a href="/tin-tuc"><img class="icon-top" src="@Html.ThemeUrl()/Content/images/new_icon_tintuc.png" />Tin nổi bật</a>
                <i class="bg icon_drop"></i>
                <ul class="ul">


                    <li><a href="/o-cung-ssd-va-hdd-cai-nao-tot-hon-12-su-that-ban-phai-biet/"><img src="@Html.ThemeUrl()/Content/media/news/120_59_ssd_v___hdd_c__i_n__o_t___t_h__n.jpg" alt="Ổ cứng ssd và hdd cái nào tốt hơn? 12 sự thật game thủ cần phải biết" /> <span>Ổ cứng ssd và hdd cái nào tốt hơn? 12 sự thật game thủ cần phải biết</span> </a></li>



                    <li><a href="/7-vo-case-may-tinh-trong-suot-dep-long-lanh-ai-cung-muon-so-huu/"><img src="@Html.ThemeUrl()/Content/media/news/120_56_top_7_vo_case_may_tinh_trong_suot_gland.jpg" alt="7 vỏ case máy tính trong suốt đẹp long lanh mà ai cũng muốn sở hữu" /> <span>7 vỏ case máy tính trong suốt đẹp long lanh mà ai cũng muốn sở hữu</span> </a></li>



                    <li><a href="/tong-hop-vo-case-may-tinh-dep-nhat-nam-2017-p2/"><img src="@Html.ThemeUrl()/Content/media/news/120_img_46.jpg" alt="TỔNG HỢP VỎ CASE MÁY TÍNH ĐẸP NHẤT NĂM 2017 (P2)" /> <span>TỔNG HỢP VỎ CASE MÁY TÍNH ĐẸP NHẤT NĂM 2017 (P2)</span> </a></li>



                    <li><a href="/tong-hop-vo-case-may-tinh-dep-nhat-nam-2018-p1/"><img src="@Html.ThemeUrl()/Content/media/news/120_52_t___ng_h___p_v____case_m__y_t__nh______p_nh___t_2018_p1.jpg" alt="TỔNG HỢP VỎ CASE MÁY TÍNH ĐẸP NHẤT NĂM 2018 (P1)" /> <span>TỔNG HỢP VỎ CASE MÁY TÍNH ĐẸP NHẤT NĂM 2018 (P1)</span> </a></li>



                    <li><a href="/tan-nhiet-nuoc-la-gi-co-nen-lap-tan-nhiet-nuoc-khong/"><img src="@Html.ThemeUrl()/Content/media/news/120_img_24.jpg" alt="TẢN NHIỆT NƯỚC LÀ GÌ? CÓ NÊN LẮP TẢN NHIỆT NƯỚC CHO PC KHÔNG?" /> <span>TẢN NHIỆT NƯỚC LÀ GÌ? CÓ NÊN LẮP TẢN NHIỆT NƯỚC CHO PC KHÔNG?</span> </a></li>








                </ul>
            </li>
            <li><a href="https://www.facebook.com/glandcomputer/" rel="nofollow">Fanpage</a>  </li>
            <li>
                <a href="/xay-dung-may-tinh" rel="nofollow"><span style="color:red; font-weight: bold">XÂY DỰNG CẤU HÌNH</span></a>

            </li>
            <li id="account-header">
                @if (!User.Identity.IsAuthenticated)
                {
                    <a href="@Url.Action("Login", "Members")" rel="nofollow">@Html.LanguageString("Layout.Nav.Logon")</a>
                    if (Html.Settings("SuspendRegistration") != "true")
                    {
                        <a href="@Url.Action("Register", "Members")" rel="nofollow">@Html.LanguageString("Layout.Nav.Register")</a> @("|")
                    }
                        <div class="list">
                            <a href="@Url.Action("Login", "Members")" rel="nofollow" class="btn">@Html.LanguageString("Layout.Nav.Logon")</a>
                            @if (Html.Settings("SuspendRegistration") != "true")
                            {
                                <a href="@Url.Action("Register", "Members")" rel="nofollow" class="btn">@Html.LanguageString("Layout.Nav.Register")</a> @("|")
                            }
                        </div>
                } else {
                    <a>@Html.CurrentMember().UserName</a> @("|") 
                    <a href="@Url.Action("Login", "Members")" class="btn">@Html.LanguageString("LogOn.LogOff")</a>
                    <div class="list">
                        @if (User.IsInRole(AppConstants.AdminRoleName))
                        {
                            <a href="@Url.Action("Index", "Admin", new {area = "Admin"}, null)" rel="nofollow" class="btn">@Html.LanguageString("Layout.Nav.Admin")</a>
                        }
                            <a href="@Url.Action("Login", "Members")" rel="nofollow" class="btn">@Html.LanguageString("LogOn.LogOff")</a>
                    </div>
                }
                

                </li>
            </ul>
    </div>
</div><!--top-->
<div class="clear"></div>