@model WebMvc.Web.ViewModels.CategoryProductListViewModel
@{
    ViewBag.Title = string.Concat(Model.Cat.Name, " - Sản phẩm");
}
<div class="container">
    <div id="location">
        <a href="/"><i class="bg icon_home"></i></a>

        <span>»</span><a href="@Url.Action("ShowBySlugProduct","Category",new { slug = Model.Cat.Slug })">@Model.Cat.Name</a>

    </div>
    <script type="text/javascript">
        $(window).load(function () {
            $('#banner_pro_list ul').carouFredSel({
                auto: {
                    play: true,
                    pauseOnHover: true
                },
                prev: '#banner_pro_list .prev',
                next: '#banner_pro_list .next',
                'direction': 'left',
                mousewheel: true,
                scroll: 2,
                items: 2,
                swipe: {
                    onMouse: true,
                    onTouch: true
                }
            });

        });
    </script>

    <div id="banner_pro_list">
        <div class="btn_slider prev hidden" style="display: none;"></div>
        <div class="btn_slider next hidden" style="display: none;"></div>
        <div class="caroufredsel_wrapper" style="display: block; text-align: start; float: none; position: relative; top: auto; right: auto; bottom: auto; left: auto; z-index: auto; width: 1210px; height: 223px; margin: 0px 0px 0px -10px; overflow: hidden;">
            <ul class="ul" style="text-align: left; float: none; position: absolute; top: 0px; right: auto; bottom: auto; left: 0px; margin: 0px; width: 3630px; height: 223px;">

                <li><img border="0" src="https://gland.vn/media/banner/banner_c20ad4d7.png" width="595" height="220" alt=""></li>

                <li><img border="0" src="https://gland.vn/media/banner/banner_6512bd43.jpg" width="595" height="220" alt=""></li>

            </ul>
        </div>
    </div>
    <div class="clear space"></div>

    <div id="content_center">

        <input type="hidden" id="product_compare_list" value="">
        <div class="top_area_list_page">
            <h1>@Model.Cat.Name</h1>
            <div class="compare_area">
                <button type="button" class="btn_compare bg" onclick="compare_product('https://gland.vn:443/pc-gaming/')" style="display:none;"></button>
            </div>
            <div class="sort_style">
                <span>Lựa chọn</span>
                <a href="?display=list" class="bg list_style "></a>
                <a href="?display=grid" class="bg grid_style active"></a>
            </div>
            <!--script>
            $(document).ready(function(){
                  current_url = $(location).attr('href');
                  $(".sort_pro li a").each(function(){
                    href = $(this).attr("href");
                    if(current_url.indexOf("?") > 0){
                        $(this).attr("href","&"+href);
                    }else $(this).attr("href","?"+href);
                  });
              });
            </script-->
            <div class="sort_pro">
                <span>Sắp xếp sản phẩm <span class="bg icon_drop"></span> </span>
                <ul>

                    <li><a href="https://gland.vn/pc-gaming/?sort=new" rel="nofollow">Mới nhất</a> </li>

                    <li><a href="https://gland.vn/pc-gaming/?sort=price-asc" rel="nofollow">Giá: thấp -&gt; cao</a> </li>

                    <li><a href="https://gland.vn/pc-gaming/?sort=price-desc" rel="nofollow">Giá: cao -&gt; thấp</a> </li>

                    <li><a href="https://gland.vn/pc-gaming/?sort=view" rel="nofollow">Xem nhiều nhất</a> </li>

                    <li><a href="https://gland.vn/pc-gaming/?sort=comment" rel="nofollow">Nhiều nhận xét</a> </li>

                    <li><a href="https://gland.vn/pc-gaming/?sort=rating" rel="nofollow">Đánh giá cao nhất</a> </li>

                    <li><a href="https://gland.vn/pc-gaming/?sort=name" rel="nofollow">Tên A-&gt;Z</a> </li>

                </ul>
            </div>

            <div class="paging">

            </div><!--paging-->

        </div><!--top_area_list_page-->
        Tổng @(Model.Paging.Count)sp

        <div class="clear"></div>

        <div class="product_list page_inside">
            <ul class="ul">
                @foreach (var it in Model.ListProduct)
                {
                    @Html.Partial("_ProductItem", it)
                }
            </ul>
        </div><!--prouduct_list-->

        <div class="clear"></div>
        <div class="top_area_list_page">
            <div class="compare_area">
                <button type="button" class="btn_compare bg" onclick="compare_product('https://gland.vn:443/pc-gaming/')" style="display:none;"></button>
            </div>
            <div class="sort_style">
                <span>Lựa chọn</span>
                <a href="?display=list" class="bg list_style "></a>
                <a href="?display=grid" class="bg grid_style active"></a>
            </div>
            <div class="sort_pro">
                <span>Sắp xếp sản phẩm <span class="bg icon_drop"></span> </span>
                <ul>

                    <li><a href="https://gland.vn/pc-gaming/?sort=new" rel="nofollow">Mới nhất</a> </li>

                    <li><a href="https://gland.vn/pc-gaming/?sort=price-asc" rel="nofollow">Giá: thấp -&gt; cao</a> </li>

                    <li><a href="https://gland.vn/pc-gaming/?sort=price-desc" rel="nofollow">Giá: cao -&gt; thấp</a> </li>

                    <li><a href="https://gland.vn/pc-gaming/?sort=view" rel="nofollow">Xem nhiều nhất</a> </li>

                    <li><a href="https://gland.vn/pc-gaming/?sort=comment" rel="nofollow">Nhiều nhận xét</a> </li>

                    <li><a href="https://gland.vn/pc-gaming/?sort=rating" rel="nofollow">Đánh giá cao nhất</a> </li>

                    <li><a href="https://gland.vn/pc-gaming/?sort=name" rel="nofollow">Tên A-&gt;Z</a> </li>

                </ul>
            </div>

            <div class="paging">

            </div><!--paging-->

        </div><!--top_area_list_page-->

        <div class="nd"></div>
    </div><!--content_center-->
    <div id="content_right">
        <div class="box_right">
            <div class="title_box_right">
                <h2>@Model.Cat.Name</h2>
            </div>
            <div class="content_box">
                <div class="bg_gradient_bottom_title"></div>
                <ul class="ul">
                    @foreach (var sub in AppHelpers.SubCategories(Model.Cat,true))
                    {
                        <li>» <a href="@Url.Action("ShowBySlugProduct","Category", new { Slug = sub.Slug })">@sub.Name</a> </li>
                    }
                </ul>
            </div>
        </div><!--box_right-->



    </div><!--content_right-->
</div>